{% extends 'base.html' %}

{% block title %} 
    Sudoku
{% endblock %}


{% block content %} 
<div class="game-container center">
    <div class="grid-container">
        <form action="{{ url_for('solution_page') }}" method="post" name="sudoku-input">

            {% for i in range(9) %}
            <div class="grid-row">
                {% for j in range(9) %} 
                <div class="grid-col">
                    <input type="text" maxlength="1" name="cell-{{ i * 9 + j }}" placeholder="{{ j }}">
                </div>
                {% endfor %}
            </div>  
            {% endfor %}
            <div class="button-container">
                <input type="submit" value="Solve" class="btn btn-primary btn-block">
                <!-- <button type="submit" value="Submit" class="btn btn-primary btn-block">Solve</button>
                    <button id="clear-btn" type="button" class="btn btn-secondary btn-block">Clear</button> -->
                </div>
        </form>
    </div>
</div>
{% endblock %}